@using M32COM_Group_G.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4>Use a Registered details to log in to the system.</h4>


            <label id="status"></label>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @id = "email" })

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="#" class="btn btn-default " onclick="login()">Login</a>
                </div>
            </div>

            <p>
                @Html.ActionLink("Click to Register", "Register")
            </p>
            }
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    function login() {
        var logindetails = {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value

        }
        var jsonText = JSON.stringify(logindetails);
        console.log(jsonText);
        var divform = document.getElementById("loginForm");
        $.ajax({
            url: 'http://localhost:52082/api/login',
            type: 'POST',
            contentType: 'application/json',
            data: jsonText,
            processData: false,
            dataType: 'json',
            complete: function (data, textStatus, xhr) {
                var bt = data.responseJSON;
                console.log(data);
                console.log(bt.hasError);
                sessionStorage.setItem("token", bt.result.token);
                document.getElementById("status").innerHTML = bt.message;
                var token = sessionStorage.getItem("token");
                console.log("token = " + token)
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    }

</script>
