@model M32COM_Group_G.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()
<h4>Create a new account here!.</h4>
<hr />
<label id="status"></label> 
<section id = "registerForm">
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name", @id = "namee" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control",@placeholder = "Surname", @id = "surname" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control",@placeholder = "Email", @id = "email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="#" class="btn btn-default" onclick="Register()">Submit</a>
        </div>
    </div>
</section>
<p>
    @Html.ActionLink("Click here if you already Registered", "Login")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        // Calling WebApi using post method. 
           // Collecting details 
             function Register() {
                var Registerdetails = {
                    name: document.getElementById("namee").value,
                    surname: document.getElementById("surname").value,
                    email: document.getElementById("email").value,
                    password: document.getElementById("password").value

                }
                //Creates and Json application that the api can read 
                var jsonText = JSON.stringify(Registerdetails);
                var divform = document.getElementById("registerForm");
                $.ajax({
                    url: 'http://localhost:52082/api/Registration',
                    type: 'POST',
                    contentType: 'application/json',
                    data: jsonText,
                    processData: false,
                    dataType: 'json',
                    complete: function (data, textStatus, xhr) {
                        // Reponse from the database after new registration
                        var bt = data.responseJSON;
                        // validation message will pop up if its successful or not 
                        document.getElementById("status").innerHTML = bt.message;
                    },
                    error: function (xhr, textStatus, errorThrown) {
                    }
                });
            }

    </script>
}
}