@using Microsoft.AspNet.Identity
<script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-nav ">



            <li class="nav-item">
                <a class="nav-link" href="/myteam">

                    <i class="fa fa-bell">

                    </i>
                </a>
            </li>

            <li class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="badge badge-info" id="badge"></span>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="col-lg-12">
                        <a class="dropdown-item" id="inviteMessage" width="00"></a>
                        <div id="invite">
                            <div class="invite-form">
                                <button onclick="accept()">Accept</button>
                                <button onclick="decline()">Decline</button>
                                <p id="inviteStatus"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a id="name"></a>

            </li>









            <li id="loggedIn">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li id="loggedIn1">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li id="logOut" onclick="logout()">@Html.ActionLink("Log out", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

        </ul>
}
}

<script>
    //This script is ran on every page and is used to manage logged in user and display notifications
    //on the right side of the notification bar. Upon start we determine if a user is loged in by checking 
    //session storage for a name, if this is true - their name is displayed along with log out
    //if no user is logged in- log in and register button are shown.
    if (sessionStorage.getItem("name") == null) {
        document.getElementById("loggedIn").style.display = "inline";
        document.getElementById("loggedIn1").style.display = "inline";
        document.getElementById("logOut").style.display = "none";
        document.getElementById("name").innerHTML = "";
    } else {
        document.getElementById("name").innerHTML = (sessionStorage.getItem("name"));
        document.getElementById("loggedIn").style.display = "none";
        document.getElementById("loggedIn1").style.display = "none";
        document.getElementById("logOut").style.display = "inline";
    }
    document.getElementById("name").innerHTML = (sessionStorage.getItem("name"));
    //token is also stored in a local variable from session storage
    var tokn = sessionStorage.getItem("token");
    var actionToken;
    token = "Bearer " + tokn;

    //get request is sent to api to get notifications for user
    $.ajax({
        url: 'http://localhost:52082/api/notification/all',
        type: 'GET',
        headers: { "Authorization": token },
        dataType: 'json',
        success: function (data, textStatus, xhr) {
            //an action token variable is included in the response from the api which is used to accept or decline invitations
            //Also if a user has a notification:
            //a notification badge is show with 1 in the navigation bar
            //else notification badge is not shown
            var usr = data.result;
            actionToken = usr.actionToken;
            if (usr.length !== 0) {
                document.getElementById("badge").innerHTML = "1";

                document.getElementById("badge").style.display = "inline";
                document.getElementById("inviteMessage").innerHTML = usr[0].description;
                document.getElementById("inviteMessage").offsetWidth = "200";

                console.log(usr[0].description);
            } else {
                document.getElementById("badge").innerHTML = "0";
                document.getElementById("badge").style.display = "none";
            }
        },
        error: function (xhr, textStatus, errorThrown) {

            console.log('Error in Operation');
        }
    });

    //function accept is displayed along side the notification on a drop down menu along with buttons, 
    //when accept is clicked the the action token previously mention is sent along with the authorization token"bearer"
    
    function accept() {
        console.log(actionToken + "actionnnnnn");
        $.ajax({
            url: 'http://localhost:52082/api/team/respondinvitation/true',
            type: 'GET',
            headers: { "Authorization": token, "actionToken": actionToken },
            dataType: 'json',
            success: function (data, textStatus, xhr) {
                
            },
            error: function (xhr, textStatus, errorThrown) {

                console.log('Error in Operation');
            }
        });
        //if the invitation is accepted the user is taken to the my team page when they can view their new team
        setTimeout(function () {
            window.location.href = "http://localhost:56067/myteam";
        }, 1500);

    }
    //Function decline is similar to accept, once again the action token is sent along with the token bearer 
    
    function decline() {
        console.log(actionToken + "actionnnnnn");
        $.ajax({
            url: 'http://localhost:52082/api/team/respondinvitation/false',
            type: 'GET',
            headers: { "Authorization": token, "actionToken": actionToken },
            dataType: 'json',
            success: function (data, textStatus, xhr) {
                
            },
            error: function (xhr, textStatus, errorThrown) {

                console.log('Error in Operation');
            }
        });
        //the user is taken to the home screen if they decline the invitation
        setTimeout(function () {
            window.location.href = "http://localhost:56067";
        }, 1500);

    }
    //function logout is used when the user clicks logout in the navigation bar and clears the sessions storage 
    //removing name and tokens for the given users
    function logout() {
        
        console.log(sessionStorage.clear());
        
    }
</script>
